*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.flex{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: aliceblue;
}

.flex .box{
    height: 60px;
    width: 60px;
    margin-right: 5px;
    background-color: #000000;
    border-radius: 50%;   
    color: #fff;  
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 22px;      

}